<div class="background">
    <div id="link_to_start" class="container">
        <div class="uneeq_logo">
            <%= image_tag "UneEQ-Logo-Stacked-Rev.png" %>
        </div>
        <h1> Here we go! </h1>
        <p>You're about to start a conversation with one of our digital humans.</p>
        <p>Your conversation transcript, video and audio recordings may be kept for the purposes of research and improving our platform.</p>
        <div id="lds-roller" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
</div>
