<div class="background">
    <div id="link_to_start" class="container">
        <h1> Here we go! </h1>
        <p>You're about to start a conversation with one of our digital humans.</p>
        <p>Your conversation transcript, video and audio recordings may be kept for the purposes of research and improving our platform.</p>
        
    </div>
</div>

<script type="text/javascript">
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            console.log("Geolocation is not supported by this browser.");
        }
    }

    function showPosition(position) {
        var obj = {
            latitude: position.coords.latitude,
            longitude: position.coords.longitude
        }
        var link = document.createElement('a');
        link.setAttribute('class', 'link_style');
        link.innerHTML = "Start";
        link.setAttribute('href', "/conversations?latitude="+position.coords.latitude+"&longitude="+position.coords.latitude);
        document.getElementById('link_to_start').appendChild(link);
    }

    getLocation();

</script>