# I had to manually restart nginx via ssh on the EB server even after this command completed.
# Only when the service was manually restarted did the system recover, and the good news is the SSL config with LetsEncrypt worked!

"/opt/elasticbeanstalk/hooks/appdeploy/post/01_monitor_httpd_pid.sh":
  mode: "000755"
  owner: root
  group: root
  content: |
    #!/bin/bash
    set -xe
    /opt/elasticbeanstalk/bin/healthd-track-pidfile --proxy nginx